* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

body{
	background: url("sideBack.png") repeat-y 0 0;
}
header {
	text-align: center;
	font-size:2.0em;
	background-color: #757575;
	padding: 10px;
}


header p {
	font-size:1.0em;
	color: red;
	background-image: url("Caution Tape.png");
}

#up_nav {
	text-align: center;
	font-size:2.0em;
	background-image: url("backBar.png");
	background-size:100% 100%;
	padding: 5px;
}

#side_nav {
	height:100%;
	width: 300px;
    background-color: #757575;
    float: left;
}

#side_nav p {
	font-size:2.0em;
    padding: 10px;
    line-height:60px;
}

#side_nav #selectDefault {
    background-color: #424242;
	color: white;
}

#side_nav small p {
	font-size:1.5em;
    padding: 10px;
    line-height:20px;
}

#side_nav p:hover {
	background-color: #A0A0A0;
}


h2 {
	padding: 5px;
}

#main p {
	padding: 10px;
}

#main a {
	clear: both;
}

#main img {
	padding: 10px;
	float: left;
}

#main iframe {
	padding: 10px;
	clear: both;
}


#main {
	
	font-size:1.5em;
	margin-left: 300px;
	margin-bottom: 3em;
}

#main h3 {
	padding: 10px;
	text-align: center;
	text-decoration: underline;
}

#main h3:hover {
	color: blue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #BDBDBD;
}
table tr:nth-child(odd) {
   background-color:#EEEEEE;
}
table th	{
    background-color: #212121;
    color: white;
}

nav ul li {
	display:inline;
	padding:5px;
	margin: 20px;
}

nav ul li:hover {
    background-color: #757575;
    color: white;
}

footer p {
	position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #A0A0A0;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

div {
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 0px;
	visibility: hidden;
}